<main>
  <div class="main">
      <div class="row">
          <div class="container">
            <div class="content">
              <h1>Create and share stories</h1>
              <%= link_to "Learn more", about_path, :class => "btn btn-primary" %>
            </div>
          </div>
      </div>  
  </div>

  <div>
      <div class="container">
          <h2>Relive your adventures</h2>
          <p>Stories automatically creates a digital journal filled with your best photos and notes</p>
      </div>
  </div>
  <div class="secondary">
      <div class="container">

      </div>    
  </div>
  <div class="about">

  </div>
</main>