
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.main {
    background: url("https://media.istockphoto.com/photos/abstract-wavy-object-picture-id1198271727?b=1&k=20&m=1198271727&s=612x612&w=0&h=TmG2MD0VRU-6rtToiYnXKhzgeYuTr4lCFuZ_SRmkZFQ=") no-repeat center center;
    background-size: cover;
    height: 20em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h1,
.about-main h1 {
    color: black;
    font-size: 4em;
    text-align: center;
}

.secondary {
    background: url("https://media.istockphoto.com/id/1322220448/photo/abstract-digital-futuristic-eye.jpg?b=1&s=170667a&w=0&k=20&c=wr_9DkDwY9aXmeue2cc-Rj4BD6UOhp8i_mFrAfbeGjQ=") no-repeat center center;
    background-size: cover;
    height: 30em;
}

.about-main {
    background: url("https://images.ctfassets.net/hrltx12pl8hq/3Z1N8LpxtXNQhBD5EnIg8X/975e2497dc598bb64fde390592ae1133/spring-images-min.jpg?fit=fill&w=480&h=270") no-repeat center center;
    background-size: cover;
    height: 30em;
}
